mixin section(id)
  .view-wrapper.hidden(id=`view-${id}`)
    block
      
doctype
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    title Tahanan Project
    link(rel="stylesheet" type="text/css" href="css/main.css")
  body
    include navigation
    +section("map")
      include views/map
    +section("landmark")
      include views/landmark
    +section("landing")
      include views/landing
    +section("about")
      include views/about
    +section("me")
      include views/me
    - 
      let scripts = [
        "js/app.js"
      ];
    each url in scripts
      script(src=url)
