+modal("sign-in")
  +modal-part("form")
    .inner-content-wrapper
      .modal-header Visit the community of Tahanan!
      form#form-sign-in
        +label-input("email", "Email address:", "text")
        +label-input("password", "Password:", "password")
        .button-wrapper
          button.button.outline Sign in

+modal("sign-up")
  +modal-part("form")
    .inner-content-wrapper
      .modal-header Join the community of Tahanan!
      form#form-sign-up
        +label-input("email", "Email address:", "text")
        +label-input("first_name", "First name:", "text")
        +label-input("last_name", "Last name:", "text")
        +label-input("password", "Password:", "password")
        .button-wrapper
          button.button.outline Sign Up
    
+modal("make-memory")
  +modal-part("form")
    form.memory-wrapper.inner-content-wrapper
      input(type="hidden" name="landmarkId")
      input(type="hidden" name="userId")
      .horizontal
        .left
          .icon
        .right
          .details-top
            .detail.author
            .detail.landmark
          textarea.body(name="description" placeholder="What do you remember?")
          .buttons-wrapper
            label.btn-image(for="memoryImage")
              input(type="file" accept=".png,.jpg,.gif,.jpeg" name="memoryImage" id="memoryImage")
            button.button Submit
      .image-wrapper
    
+modal("view-memory")
  +modal-part("content")
    .memory-wrapper.inner-content-wrapper
      .horizontal
        .left
          .icon
        .right
          .details-top
            a.detail.author Mike del Castillo
            a.detail.landmark American Alley
          .body Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          .details-bottom
            .detail.likes 
              .icon
              .text 9 people like this
              .likes-wrapper
                .names-wrapper
                  .name Mike del Castillo
                  .name Meg Villena
            .detail.date 
              .icon
              .text March 5, 2018
      .image-wrapper
    .comments-wrapper.inner-content-wrapper
      form
        input(type="text" name="message")
        input(type="hidden" name="userId")
        button.button Submit
      .comments
      

+modal("edit-profile")
  +modal-part("form")
    form.inner-content-wrapper
      .modal-header Update My Profile
      .top
        .left
          label.btn-icon(for="profileImage")
            input.btn-image(type="file" accept=".png,.jpg,.gif,.jpeg" name="profileImage" id="profileImage")
        .right
          +label-input("first_name", "First name:", "text")
          +label-input("last_name", "Last name:", "text")
      +label-input("bio", "Bio:")
        textarea(name="bio")
      .buttons-wrapper
        button.button Update
    
    
mixin tutorial(id)
  .tutorial-wrapper(id=`tutorial-${id}`)
    .screens
      block
    .buttons-wrapper
      .btn-left Previous
      .info-wrapper
      .btn-right Next
        
mixin tutorial-screen(heading)
  .screen
    .heading= heading
    .text-wrapper
      block

+modal("tutorial")
  +modal-part("map")
    .inner-content-wrapper
      +tutorial("map")
        +tutorial-screen("Welcome to Tahanan!")
          .text This is the Bahrain map.
          .text Click any landmark #[img(src="img/marker-light.png")] in Bahrain to begin.
          .text.small Use the “+” or “-” to zoom in and out of the map.
        +tutorial-screen("Write your own memory of the place here.")
          .text Click the “Memories” button to start reading and writing memories of Bahrain.
        +tutorial-screen("What do you remember?")
          .text Click the #[img(src="img/add-icon-dark-golden-rod.png")] to start writing your own memory.
          .text You may also view other people’s memories by clicking on them.
        +tutorial-screen("Sound familiar?")
          .text Click the #[img(src="img/heart-icon-dark-golden-rod.png")] to like someone’s memory or click the #[img(src="img/comment-icon-dark-golden-rod.png")] to post your own comment! Or exit by clicking #[img(src="img/exit-icon-dark-golden-rod.png")].
        +tutorial-screen("Share as much as you’d like!")
          .text You may write either a short or a long memory of your choice.
          .text Add a personal touch by clicking the #[img(src="img/photo-icon-dark-golden-rod.png")] to add your own photo.
        //- +tutorial-screen("Your memory has been posted!")
        //-   .text Feel free to explore the rest of the map or website.
          
  +modal-part("featured")
    .inner-content-wrapper
      +tutorial("featured")
        +tutorial-screen("Welcome to the Featured Memories page!")
          .text Welcome to the Featured Memories page!
          .text Here we feature the top liked memories by people from Bahrain.
          .text You may like or comment on them by clicking the #[img(src="img/heart-icon-dark-golden-rod.png")] or #[img(src="img/comment-icon-dark-golden-rod.png")]
        +tutorial-screen("Sound familiar?")
          .text Click the #[img(src="img/heart-icon-dark-golden-rod.png")] to like someone’s memory or click the #[img(src="img/comment-icon-dark-golden-rod.png")] to post your own comment! Or exit by clicking #[img(src="img/exit-icon-dark-golden-rod.png")].
          
  +modal-part("construction")
    .inner-content-wrapper
      +tutorial("construction")
        +tutorial-screen("This page will be available after initial testing.")
          .text Sorry, this part of the website is still under construction! This page will be available after initial testing.

  +modal-part("contact")
    .inner-content-wrapper
      +tutorial("contact")
        +tutorial-screen("Feel free to contact our team!")
          .text 
            p Joan “Yuni” Lao - founder and designer #[br]
              a(href="mailto:joaneunicelao@gmail.com") joaneunicelao@gmail.com #[br]
              a(href="be.net/joaneunicelao") be.net/joaneunicelao
            p Mike del Castillo - front end developer #[br]
              a(href="mailto:hello@mikedc.io") hello@mikedc.io #[br]
              a(href="http://mikedc.io") mikedc.io
            p Mark Perea - back end developer #[br]
              a(href="mailto:") mark #[br]
              a(href="http://") mark



  +modal-part("edit-profile")
    .inner-content-wrapper
      +tutorial("edit-profile")
        +tutorial-screen("Changed your mind?")
          .text Edit your information here.
