#header-wrapper
  .center-wrapper
    a.logo-wrapper(href="#/")
      img(src="img/logo-gold.png")
    .navigation-wrapper
      -
        const links = [
          ["map", "map", "Map"],
          ["featured", "featured", "Featured"],
          ["about", "about", "About"],
          ["me", "me", "My Profile"]
        ];
      each link in links
        a.navigation-link(class=`link-${link[1]}` href=`#/${link[0]}`)= link[2]
