mixin link(id, url, text)
  .navigation-link(class=`link-${id}`)
    a.text(href=`#/${url}`)= text
    if block
      .navigation-dropdown
        block

#header-wrapper
  .center-wrapper
    a.logo-wrapper(href="#/")
      img(src="img/logo-gold.png")
    .navigation-wrapper
      -
        const links = [
          ["map", "map", "Map"],
          ["featured", "featured", "Featured"],
          ["about", "about", "About", [
            ["about-tahanan", "about/project", "About the Project"],
            ["about-fqa", "about/fqa", "FAQs"],
            ["about-contact", "about/contact", "Contact"]
          ]],
          ["me", "me", "My Profile"]
        ];
      +link("map", "map", "Map")
      +link("featured", "featured", "Featured")
      +link("about", "about", "About")
        +link("about", "about", "Tahanan")
        +link("about-fqa", "about/fqa", "FAQs")
        +link("about-content", "about/content", "Content")
      +link("me", "me", "My Profile")
