#header-wrapper
  .center-wrapper
    a#logo-wrapper(href="#/") Tahanan Alpha
    #navigation-wrapper
      a.navigation-link(href="#/map") Map
      a.navigation-link(href="#/about") About
      a.navigation-link(href="#/me") My Profile
