mixin link(id, url, text)
  .navigation-link(class=`link-${id}`)
    a.text(href=`#/${url}`)= text
    if block
      .navigation-dropdown
        block

#header-wrapper
  .center-wrapper
    a.logo-wrapper(href="#/")
    .navigation-wrapper.auth-content
      +link("map", "map", "Map")
      +link("featured", "featured", "Featured")
      +link("about", "about", "About")
        +link("about-tahanan", "about", "Tahanan")
        +link("about-faq", "about/faq", "FAQs")
        +link("about-contact", "about/contact", "Contact")
      +link("me", "me", "My Profile")
        +link("me-edit", "", "Edit Profile")
        +link("me-password", "", "Edit Password")
        +link("sign-out", "", "Sign out")
