@import url("https://fonts.googleapis.com/css?family=Catamaran:100,400,700|Damion|Gochi+Hand|Permanent+Marker");
body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  font-size: 16px;
  font-family: "Catamaran", sans-serif;
  overflow: hidden; }

.view-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .view-placeholder .text {
    margin: 5em;
    opacity: 0.5;
    font-weight: 700;
    width: 20em;
    text-align: center; }

.loading-wrapper {
  position: absolute;
  top: 60px;
  height: calc(100% - 60px);
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.spinner {
  width: 80px;
  height: 80px; }
  .spinner .spin {
    width: 80px;
    height: 80px;
    transform-origin: center;
    animation: 1s spin infinite linear; }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
    .spinner .spin .mask {
      width: 40px;
      height: 40px;
      overflow: hidden; }
      .spinner .spin .mask .circle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 5px solid #B0C4DE; }

body.logged-in .non-auth-content {
  display: none !important; }
body.logged-out .auth-content {
  display: none !important; }

* {
  position: relative;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  border: 0;
  outline: 0; }

.view-wrapper {
  min-height: calc(100% - 60px);
  width: 100%;
  background-color: #B0C4DE;
  transition: all 0.5s;
  position: absolute;
  top: 60px;
  overflow: hidden; }
  .view-wrapper.visible {
    z-index: 100;
    transform: none;
    opacity: 1; }
  .view-wrapper.hidden {
    z-index: 0;
    transform: scale(1.1);
    opacity: 0; }

.center-wrapper {
  width: 90%;
  margin: auto; }

.caligraphy-header {
  height: 13em;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #B8860B;
  background-position: center; }
  .caligraphy-header .caligraphy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

#view-featured, #view-me-memories {
  height: calc(100% - 60px); }
  #view-featured .memories-wrapper, #view-me-memories .memories-wrapper {
    height: 100%;
    overflow: auto; }

.btn-help {
  width: 3em;
  height: 3em;
  border: 4px solid #B8860B;
  color: #B8860B;
  border-radius: 50%;
  position: fixed;
  left: 1.5em;
  bottom: 1.5em;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center; }
  .btn-help, .btn-help * {
    cursor: pointer; }
  .btn-help::before {
    content: "?";
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -0.05em; }
  .btn-help:hover {
    border-color: #B8860B;
    background-color: #B8860B;
    color: white; }

button, .button, input, textarea {
  border-width: 2px;
  border-style: solid;
  padding: 0em 0.5em;
  padding-top: 0.2em;
  border-color: #B8860B;
  box-sizing: border-box; }

.button {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  cursor: pointer;
  padding: 0em 1em;
  padding-left: 1.3em;
  padding-top: 0.2em;
  color: white;
  background-color: #B8860B;
  border-color: #B8860B; }
  .button:hover {
    color: #B8860B;
    border-color: #B8860B;
    background-color: white; }
  .button.outline {
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    color: #B8860B;
    border-color: #B8860B;
    background-color: white; }
    .button.outline.no-bg {
      background-color: transparent; }
    .button.outline:hover {
      color: white;
      background-color: #B8860B;
      border-color: #B8860B; }
  .button.no-bg {
    background-color: transparent; }
  .button.white {
    color: white !important;
    border-color: white !important; }
    .button.white:hover {
      background-color: white !important !important !important !important;
      color: #B8860B !important !important !important !important; }

input {
  display: block;
  width: 100%;
  color: #653C26; }

textarea {
  resize: none;
  font-size: 1.2em;
  height: 15em;
  display: block;
  width: 100%;
  color: #653C26; }

#header-wrapper {
  height: 60px;
  background-color: #EEE8AA;
  background-image: url(../img/navbar_pattern.jpg);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 500; }
  #header-wrapper .center-wrapper {
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between; }
    #header-wrapper .center-wrapper .logo-wrapper {
      height: 80%;
      width: 10em;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../img/logo-gold.png); }
      #header-wrapper .center-wrapper .logo-wrapper:hover {
        background-image: url(../img/logo-arabic-gold.png); }
    #header-wrapper .center-wrapper .navigation-wrapper {
      display: flex; }
      #header-wrapper .center-wrapper .navigation-wrapper .navigation-link {
        height: 60px;
        color: #B8860B;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: 0.9em;
        font-weight: 700;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        justify-content: flex-end; }
        #header-wrapper .center-wrapper .navigation-wrapper .navigation-link .text {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 0 2.5em;
          height: 60px; }
        #header-wrapper .center-wrapper .navigation-wrapper .navigation-link:hover {
          color: crimson !important; }
          #header-wrapper .center-wrapper .navigation-wrapper .navigation-link:hover .text:before {
            content: " ";
            width: calc(100% - 5.1em);
            height: 4px;
            background-color: crimson;
            display: block;
            position: absolute;
            bottom: 1.3em; }
        #header-wrapper .center-wrapper .navigation-wrapper .navigation-link .navigation-dropdown {
          display: none;
          background-color: white;
          position: absolute;
          top: 60px;
          right: 0;
          width: 15em;
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15); }
          #header-wrapper .center-wrapper .navigation-wrapper .navigation-link .navigation-dropdown .navigation-link {
            height: 45px; }
            #header-wrapper .center-wrapper .navigation-wrapper .navigation-link .navigation-dropdown .navigation-link .text:before {
              content: "";
              display: none; }
            #header-wrapper .center-wrapper .navigation-wrapper .navigation-link .navigation-dropdown .navigation-link:hover {
              background-color: #B8860B;
              color: white !important; }
              #header-wrapper .center-wrapper .navigation-wrapper .navigation-link .navigation-dropdown .navigation-link:hover .text::before {
                display: none; }
        #header-wrapper .center-wrapper .navigation-wrapper .navigation-link:hover .navigation-dropdown {
          display: block; }

body.view-map #header-wrapper .link-map {
  color: crimson !important; }
  body.view-map #header-wrapper .link-map .text:before {
    content: " ";
    width: calc(100% - 5.1em);
    height: 4px;
    background-color: crimson;
    display: block;
    position: absolute;
    bottom: 1.3em; }

body.view-landmark #header-wrapper .link-map {
  color: crimson !important; }
  body.view-landmark #header-wrapper .link-map .text:before {
    content: " ";
    width: calc(100% - 5.1em);
    height: 4px;
    background-color: crimson;
    display: block;
    position: absolute;
    bottom: 1.3em; }

body.view-featured #header-wrapper .link-featured {
  color: crimson !important; }
  body.view-featured #header-wrapper .link-featured .text:before {
    content: " ";
    width: calc(100% - 5.1em);
    height: 4px;
    background-color: crimson;
    display: block;
    position: absolute;
    bottom: 1.3em; }

body.view-about #header-wrapper .link-about {
  color: crimson !important; }
  body.view-about #header-wrapper .link-about .text:before {
    content: " ";
    width: calc(100% - 5.1em);
    height: 4px;
    background-color: crimson;
    display: block;
    position: absolute;
    bottom: 1.3em; }

body.view-me #header-wrapper .link-me {
  color: crimson !important; }
  body.view-me #header-wrapper .link-me .text:before {
    content: " ";
    width: calc(100% - 5.1em);
    height: 4px;
    background-color: crimson;
    display: block;
    position: absolute;
    bottom: 1.3em; }

#view-map {
  background-color: transparent !important; }
  #view-map #google-map {
    width: 100%;
    height: 100%;
    min-height: calc(100% - 60px);
    position: absolute;
    top: 0;
    left: 0; }
  #view-map #dropdown-wrapper {
    position: absolute;
    top: 3em;
    left: 5%;
    font-size: 0.9em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-family: "Catamaran", sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    cursor: pointer; }
    #view-map #dropdown-wrapper .title {
      background-color: white;
      color: #B8860B;
      padding: 1em 1.3em 0.8em 1.3em; }
      #view-map #dropdown-wrapper .title .marker {
        position: absolute;
        width: 2.3em;
        height: auto;
        bottom: 0.9em; }
      #view-map #dropdown-wrapper .title .text {
        margin-left: 3em; }
      #view-map #dropdown-wrapper .title .marker, #view-map #dropdown-wrapper .title .text {
        display: inline-block; }
    #view-map #dropdown-wrapper #options-wrapper {
      background-color: white;
      height: 0;
      overflow: auto;
      transition: all 0.5s; }
      #view-map #dropdown-wrapper #options-wrapper .item {
        background-color: #EEE8AA;
        padding: 1em 1.3em 0.8em 1.3em; }
        #view-map #dropdown-wrapper #options-wrapper .item:hover {
          background-color: crimson;
          color: white; }
    #view-map #dropdown-wrapper:hover #options-wrapper {
      height: 230px; }

#view-landmark {
  position: absolute;
  top: 60px;
  height: calc(100% - 60px); }
  #view-landmark .backdrop-wrapper {
    width: 100%;
    left: 0;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    background-color: #2b2b2b; }
    #view-landmark .backdrop-wrapper #video-backdrop {
      top: 0;
      left: 0;
      right: 0;
      border: 0;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    #view-landmark .backdrop-wrapper #img-caligraphy {
      display: block;
      margin: auto;
      max-width: 600px;
      width: 100%; }
  #view-landmark #btn-memories {
    position: absolute;
    bottom: 0;
    left: 0;
    letter-spacing: 0.3em;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 0.5em;
    padding-top: 2em;
    font-size: 2em;
    transition: all 1s;
    background: linear-gradient(to top, rgba(176, 196, 222, 0.8) 30%, rgba(176, 196, 222, 0));
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 100; }
    #view-landmark #btn-memories, #view-landmark #btn-memories * {
      cursor: pointer; }
    #view-landmark #btn-memories::before, #view-landmark #btn-memories::after {
      content: " ";
      background-image: url(../img/up-arrow-white.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 4em;
      height: 2em;
      display: block;
      position: absolute;
      left: calc(50% - 2em); }
    #view-landmark #btn-memories::before {
      top: 0; }
    #view-landmark #btn-memories::after {
      bottom: -2.3em;
      transform: rotate(180deg); }
  #view-landmark .memories-wrapper {
    padding-top: 4em;
    top: 100%;
    transition: all 1s;
    background-color: rgba(176, 196, 222, 0.8);
    overflow: auto;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%; }
  #view-landmark .btn-back {
    background-position: center;
    background-size: 1.3em auto;
    background-image: url(../img/back-icon-white.png);
    background-repeat: no-repeat;
    height: 4em;
    width: 4em;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5em;
    line-height: 0em;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 0.2em;
    letter-spacing: 0.2em;
    z-index: 100; }
  #view-landmark.show-memories #btn-memories {
    bottom: 100%; }
  #view-landmark.show-memories .memories-wrapper {
    top: 0; }

.btn-toggle {
  display: flex;
  letter-spacing: 0.2em;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin: auto;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 3em;
  z-index: 100; }
  .btn-toggle .left, .btn-toggle .right {
    padding: 0.2em 1em;
    border: 3px solid white; }
  .btn-toggle .left {
    border-right-width: 1.5px;
    background-color: white;
    color: #B8860B; }
  .btn-toggle .right {
    border-left-width: 1.5px; }
  .btn-toggle.toggled .left {
    background-color: transparent;
    color: inherit; }
  .btn-toggle.toggled .right {
    background-color: white;
    color: #B8860B; }

.memories-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2em;
  padding-top: 6em; }
  .memories-wrapper .memory {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20em;
    background-color: white;
    padding: 1em;
    margin: 1em;
    background-position: center;
    background-size: 100% 100%; }
    .memories-wrapper .memory, .memories-wrapper .memory.texture-a {
      background-image: url(../img/polaroid_texture_a.jpg); }
    .memories-wrapper .memory.texture-b {
      background-image: url(../img/polaroid_texture_b.jpg); }
    .memories-wrapper .memory.texture-c {
      background-image: url(../img/polaroid_texture_c.jpg); }
    .memories-wrapper .memory.font-0 .content {
      font-family: "Permanent Marker", sans-serif; }
    .memories-wrapper .memory.font-1 .content {
      font-family: "Damion", sans-serif; }
    .memories-wrapper .memory.font-2 .content {
      font-family: "Gochi Hand", sans-serif; }
    .memories-wrapper .memory, .memories-wrapper .memory * {
      cursor: pointer; }
    .memories-wrapper .memory .default {
      background-color: #EEE8AA;
      background-image: url(../img/add-icon-dark-golden-rod.png);
      background-size: 8em auto;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.2); }
    .memories-wrapper .memory .hover {
      opacity: 0;
      transition: all 0.2s;
      background-color: #B8860B;
      color: #EEE8AA;
      font-size: 3em;
      text-align: center;
      font-weight: 700;
      line-height: 1.2em;
      box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.2); }
    .memories-wrapper .memory:hover .hover {
      opacity: 1; }
    .memories-wrapper .memory .image-wrapper {
      width: 100%;
      background-color: #ebebeb;
      box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.2); }
      .memories-wrapper .memory .image-wrapper .sizer {
        width: 100%;
        padding-bottom: 100%; }
      .memories-wrapper .memory .image-wrapper .default, .memories-wrapper .memory .image-wrapper .hover, .memories-wrapper .memory .image-wrapper .image, .memories-wrapper .memory .image-wrapper .content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      .memories-wrapper .memory .image-wrapper .image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(0.8) contrast(0.4) brightness(1.5);
        box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.2); }
      .memories-wrapper .memory .image-wrapper .content {
        font-weight: 700;
        font-size: 1.5em;
        text-align: center;
        padding: 1em;
        background-color: rgba(238, 232, 170, 0.2784313725); }
    .memories-wrapper .memory .details-wrapper {
      display: flex;
      height: 2em;
      justify-content: space-around;
      align-items: center;
      margin-top: 1em; }
      .memories-wrapper .memory .details-wrapper .detail {
        color: #B8860B;
        font-size: 2em;
        font-weight: 700;
        display: flex;
        align-items: center; }
        .memories-wrapper .memory .details-wrapper .detail .icon {
          width: 1em;
          height: 1em;
          margin-right: 0.25em;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain; }
        .memories-wrapper .memory .details-wrapper .detail.likes .icon {
          background-image: url(../img/heart-icon-dark-golden-rod.png); }
        .memories-wrapper .memory .details-wrapper .detail.likes.liked {
          color: crimson; }
          .memories-wrapper .memory .details-wrapper .detail.likes.liked .icon {
            background-image: url(../img/heart-icon-crimson.png); }
        .memories-wrapper .memory .details-wrapper .detail.comments .icon {
          background-image: url(../img/comment-icon-dark-golden-rod.png); }

.map-marker-label {
  white-space: nowrap;
  font-family: "Catamaran", sans-serif;
  font-size: 16px;
  color: crimson;
  font-weight: 700;
  text-transform: uppercase; }

#view-landing {
  background-color: white;
  height: calc(100% - 60px); }
  #view-landing .video-backdrop {
    overflow: hidden; }
    #view-landing .video-backdrop, #view-landing .video-backdrop video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    #view-landing .video-backdrop video {
      object-fit: cover; }
  #view-landing .text-overlay-wrapper {
    text-align: center;
    padding-top: 2em;
    position: absolute;
    right: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em; }
    #view-landing .text-overlay-wrapper .logo-wrapper {
      margin-bottom: -3em;
      margin-top: -4em; }
      #view-landing .text-overlay-wrapper .logo-wrapper img {
        display: block;
        width: 30em;
        height: auto; }
    #view-landing .text-overlay-wrapper .subtitle {
      margin-left: 3em;
      font-size: 1.7em;
      font-weight: 700; }
    #view-landing .text-overlay-wrapper .button {
      display: inline-block;
      background-color: transparent;
      border-color: white;
      color: white;
      font-weight: 700; }
      #view-landing .text-overlay-wrapper .button:hover {
        background-color: white;
        border-color: white;
        color: #B8860B !important; }
    #view-landing .text-overlay-wrapper .sign-in-wrapper {
      line-height: 1.2em;
      font-size: 1em;
      margin-top: 0.5em; }
      #view-landing .text-overlay-wrapper .sign-in-wrapper .btn-sign-in {
        cursor: pointer;
        text-decoration: underline;
        font-weight: bold; }
      #view-landing .text-overlay-wrapper .sign-in-wrapper .copy {
        font-size: 0.7em;
        max-width: 30%;
        margin: auto;
        line-height: 1em;
        margin-top: 0.7em; }

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  box-sizing: border-box;
  transition: all 0.5s; }
  .modal-wrapper .spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em; }
  .modal-wrapper.visible {
    z-index: 10000;
    transform: none;
    opacity: 1; }
  .modal-wrapper.hidden {
    z-index: -100;
    transform: scale(1.1);
    opacity: 0; }
  .modal-wrapper .content-wrapper {
    background-color: white;
    max-width: 700px;
    margin: auto;
    background-image: url(../img/modal_texture.jpg);
    background-position: bottom left;
    background-repeat: no-repeat; }
    .modal-wrapper .content-wrapper .inner-content-wrapper {
      padding: 30px; }
    .modal-wrapper .content-wrapper #btn-close {
      position: absolute;
      top: 0;
      right: 0;
      width: 1.2em;
      height: 1.2em;
      box-sizing: content-box;
      padding: 1em;
      z-index: 100; }
      .modal-wrapper .content-wrapper #btn-close, .modal-wrapper .content-wrapper #btn-close * {
        cursor: pointer; }
      .modal-wrapper .content-wrapper #btn-close .line {
        width: 1.2em;
        height: 2px !important;
        background-color: #B8860B;
        position: absolute;
        top: 50%;
        left: 50%; }
        .modal-wrapper .content-wrapper #btn-close .line.line-1 {
          transform: translate(-50%, -50%) rotate(45deg); }
        .modal-wrapper .content-wrapper #btn-close .line.line-2 {
          transform: translate(-50%, -50%) rotate(-45deg); }
    .modal-wrapper .content-wrapper .modal-header {
      font-weight: 700;
      font-size: 2em;
      margin-bottom: 0.55em;
      text-align: center; }
    .modal-wrapper .content-wrapper .input-wrapper .input {
      flex-basis: 100%;
      flex-grow: 0;
      flex-shrink: 0; }
    .modal-wrapper .content-wrapper .button-wrapper {
      text-align: right; }
    .modal-wrapper .content-wrapper .modal-part.hidden {
      display: none; }

#modal-sign-in .content-wrapper, #modal-sign-up .content-wrapper, #modal-edit-profile .content-wrapper {
  max-width: 500px; }

#modal-view-memory .content-wrapper, #modal-make-memory .content-wrapper {
  width: 700px; }
#modal-view-memory .memory-wrapper, #modal-make-memory .memory-wrapper {
  color: #653C26;
  letter-spacing: 0.05em;
  background-image: url(../img/modal_texture.jpg);
  background-position: bottom left;
  background-repeat: no-repeat; }
  #modal-view-memory .memory-wrapper .horizontal, #modal-make-memory .memory-wrapper .horizontal {
    display: flex;
    justify-content: space-between; }
    #modal-view-memory .memory-wrapper .horizontal .left, #modal-make-memory .memory-wrapper .horizontal .left {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 4em; }
      #modal-view-memory .memory-wrapper .horizontal .left .icon, #modal-make-memory .memory-wrapper .horizontal .left .icon {
        width: 4em;
        height: 4em;
        background-color: #653C26;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
    #modal-view-memory .memory-wrapper .horizontal .right, #modal-make-memory .memory-wrapper .horizontal .right {
      flex-grow: 1;
      flex-shrink: 1;
      padding-left: 1.5em;
      padding-right: 0.5em; }
      #modal-view-memory .memory-wrapper .horizontal .right .details-top, #modal-make-memory .memory-wrapper .horizontal .right .details-top {
        display: flex;
        font-size: 1.4em;
        margin-bottom: 0.5em; }
        #modal-view-memory .memory-wrapper .horizontal .right .details-top .author, #modal-make-memory .memory-wrapper .horizontal .right .details-top .author {
          font-weight: 700;
          cursor: pointer;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        #modal-view-memory .memory-wrapper .horizontal .right .details-top .landmark, #modal-make-memory .memory-wrapper .horizontal .right .details-top .landmark {
          cursor: pointer;
          padding-left: 1em;
          background-image: url(../img/marker-light.png);
          background-repeat: no-repeat;
          background-size: 0.7em auto;
          background-position: left 0.2em;
          margin-left: 0.5em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
      #modal-view-memory .memory-wrapper .horizontal .right textarea, #modal-make-memory .memory-wrapper .horizontal .right textarea {
        width: 100%;
        margin: 0.5em 0;
        display: block; }
      #modal-view-memory .memory-wrapper .horizontal .right .details-bottom, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom {
        border-top: 1px solid #B0C4DE;
        margin-top: 1em;
        padding-top: 0.5em; }
        #modal-view-memory .memory-wrapper .horizontal .right .details-bottom, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div {
          display: flex;
          justify-content: flex-start; }
          #modal-view-memory .memory-wrapper .horizontal .right .details-bottom .icon, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom .text, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div .icon, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div .text, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom .icon, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom .text, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div .icon, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div .text {
            flex-grow: 0;
            flex-shrink: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain; }
          #modal-view-memory .memory-wrapper .horizontal .right .details-bottom .detail, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div .detail, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom .detail, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div .detail {
            flex-grow: 1;
            flex-shrink: 1;
            color: #B8860B;
            padding-bottom: 1em;
            margin-bottom: -1.5em; }
          #modal-view-memory .memory-wrapper .horizontal .right .details-bottom .icon, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div .icon, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom .icon, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div .icon {
            flex-basis: 1.3em;
            margin-right: 0.5em; }
          #modal-view-memory .memory-wrapper .horizontal .right .details-bottom .likes, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div .likes, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom .likes, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div .likes {
            color: crimson; }
            #modal-view-memory .memory-wrapper .horizontal .right .details-bottom .likes, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom .likes *, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div .likes, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div .likes *, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom .likes, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom .likes *, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div .likes, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div .likes * {
              cursor: pointer; }
            #modal-view-memory .memory-wrapper .horizontal .right .details-bottom .likes .icon, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div .likes .icon, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom .likes .icon, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div .likes .icon {
              background-image: url(../img/heart-icon-crimson.png); }
          #modal-view-memory .memory-wrapper .horizontal .right .details-bottom .likes.liked, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div .likes.liked, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom .likes.liked, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div .likes.liked {
            color: #B8860B; }
            #modal-view-memory .memory-wrapper .horizontal .right .details-bottom .likes.liked .icon, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div .likes.liked .icon, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom .likes.liked .icon, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div .likes.liked .icon {
              background-image: url(../img/heart-icon-dark-golden-rod.png); }
          #modal-view-memory .memory-wrapper .horizontal .right .details-bottom .date .icon, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div .date .icon, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom .date .icon, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div .date .icon {
            background-image: url(../img/time-icon-dark-golden-rod.png); }
          #modal-view-memory .memory-wrapper .horizontal .right .details-bottom .delete, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom .delete *, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div .delete, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div .delete *, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom .delete, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom .delete *, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div .delete, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div .delete * {
            cursor: pointer; }
          #modal-view-memory .memory-wrapper .horizontal .right .details-bottom .delete .icon, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div .delete .icon, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom .delete .icon, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div .delete .icon {
            background-image: url(../img/delete-icon-dark-golden-rod.png); }
          #modal-view-memory .memory-wrapper .horizontal .right .details-bottom .detail.likes .likes-wrapper, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div .detail.likes .likes-wrapper, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom .detail.likes .likes-wrapper, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div .detail.likes .likes-wrapper {
            display: none;
            position: absolute;
            left: 0;
            background-color: crimson;
            color: white;
            z-index: 1000;
            top: 2.5em; }
            #modal-view-memory .memory-wrapper .horizontal .right .details-bottom .detail.likes .likes-wrapper .names-wrapper, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div .detail.likes .likes-wrapper .names-wrapper, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom .detail.likes .likes-wrapper .names-wrapper, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div .detail.likes .likes-wrapper .names-wrapper {
              overflow: auto;
              max-height: 110px;
              display: block;
              min-height: 2em; }
            #modal-view-memory .memory-wrapper .horizontal .right .details-bottom .detail.likes .likes-wrapper::before, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div .detail.likes .likes-wrapper::before, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom .detail.likes .likes-wrapper::before, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div .detail.likes .likes-wrapper::before {
              content: " ";
              background-color: crimson;
              position: absolute;
              width: 1em;
              height: 1em;
              transform: rotate(45deg);
              top: -0.5em;
              left: 1.6em; }
            #modal-view-memory .memory-wrapper .horizontal .right .details-bottom .detail.likes .likes-wrapper .name, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div .detail.likes .likes-wrapper .name, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom .detail.likes .likes-wrapper .name, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div .detail.likes .likes-wrapper .name {
              font-size: 0.8em;
              padding: 0.5em 1em;
              padding-bottom: 0.3em; }
          #modal-view-memory .memory-wrapper .horizontal .right .details-bottom .detail.likes:hover .likes-wrapper.visible, #modal-view-memory .memory-wrapper .horizontal .right .details-bottom div .detail.likes:hover .likes-wrapper.visible, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom .detail.likes:hover .likes-wrapper.visible, #modal-make-memory .memory-wrapper .horizontal .right .details-bottom div .detail.likes:hover .likes-wrapper.visible {
            display: block; }
      #modal-view-memory .memory-wrapper .horizontal .right .buttons-wrapper, #modal-make-memory .memory-wrapper .horizontal .right .buttons-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 1em; }
        #modal-view-memory .memory-wrapper .horizontal .right .buttons-wrapper .btn-image, #modal-make-memory .memory-wrapper .horizontal .right .buttons-wrapper .btn-image {
          width: 2.2em;
          height: 2.2em;
          background-image: url(../img/photo-icon-dark-golden-rod.png);
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
          background-size: contain; }
          #modal-view-memory .memory-wrapper .horizontal .right .buttons-wrapper .btn-image input, #modal-make-memory .memory-wrapper .horizontal .right .buttons-wrapper .btn-image input {
            display: none; }
  #modal-view-memory .memory-wrapper .image-wrapper, #modal-make-memory .memory-wrapper .image-wrapper {
    padding-top: 2em; }
    #modal-view-memory .memory-wrapper .image-wrapper.hidden, #modal-make-memory .memory-wrapper .image-wrapper.hidden {
      display: none; }
    #modal-view-memory .memory-wrapper .image-wrapper img, #modal-make-memory .memory-wrapper .image-wrapper img {
      width: 100%;
      display: block;
      height: auto; }
#modal-view-memory .comments-wrapper, #modal-make-memory .comments-wrapper {
  background-color: #DFDFDF; }
  #modal-view-memory .comments-wrapper form, #modal-make-memory .comments-wrapper form {
    margin-bottom: 1em;
    display: flex; }
    #modal-view-memory .comments-wrapper form input[type=text], #modal-make-memory .comments-wrapper form input[type=text] {
      border-right: 0; }
  #modal-view-memory .comments-wrapper .comments .comment, #modal-make-memory .comments-wrapper .comments .comment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 1em; }
    #modal-view-memory .comments-wrapper .comments .comment .icon, #modal-make-memory .comments-wrapper .comments .comment .icon {
      flex-basis: 3em;
      width: 3em;
      height: 3em;
      flex-grow: 0;
      flex-shrink: 0;
      border-radius: 3em;
      background-color: #DAA520;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    #modal-view-memory .comments-wrapper .comments .comment .text, #modal-make-memory .comments-wrapper .comments .comment .text {
      color: #653C26;
      padding-left: 1em;
      flex-grow: 1;
      flex-shrink: 1;
      font-size: 1.1em; }
      #modal-view-memory .comments-wrapper .comments .comment .text .author, #modal-make-memory .comments-wrapper .comments .comment .text .author {
        font-weight: 700;
        margin-bottom: -0.2em; }
        #modal-view-memory .comments-wrapper .comments .comment .text .author .delete, #modal-make-memory .comments-wrapper .comments .comment .text .author .delete {
          color: #B8860B;
          font-weight: 400; }
          #modal-view-memory .comments-wrapper .comments .comment .text .author .delete, #modal-view-memory .comments-wrapper .comments .comment .text .author .delete *, #modal-make-memory .comments-wrapper .comments .comment .text .author .delete, #modal-make-memory .comments-wrapper .comments .comment .text .author .delete * {
            cursor: pointer; }
          #modal-view-memory .comments-wrapper .comments .comment .text .author .delete .delete-icon, #modal-make-memory .comments-wrapper .comments .comment .text .author .delete .delete-icon {
            display: inline-block;
            margin-left: 1em;
            width: 1.2em;
            height: 1.2em;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(/img/delete-icon-dark-golden-rod.png);
            background-color: transparent; }

#modal-edit-profile .content-wrapper {
  width: 400px; }
  #modal-edit-profile .content-wrapper .top {
    display: flex;
    flex-direction: row;
    align-items: center; }
    #modal-edit-profile .content-wrapper .top .left {
      width: 6em;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 6em; }
      #modal-edit-profile .content-wrapper .top .left .btn-icon {
        display: block;
        width: 6em;
        height: 6em;
        background-color: #653C26;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        cursor: pointer; }
        #modal-edit-profile .content-wrapper .top .left .btn-icon:hover {
          opacity: 0.75; }
        #modal-edit-profile .content-wrapper .top .left .btn-icon input {
          display: none; }
        #modal-edit-profile .content-wrapper .top .left .btn-icon .edit-icon {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url(/img/edit-icon-dark-golden-rod.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 2em auto; }
    #modal-edit-profile .content-wrapper .top .right {
      padding-left: 1em;
      flex-grow: 1;
      flex-shrink: 1; }
  #modal-edit-profile .content-wrapper .buttons-wrapper {
    margin-top: 1em;
    text-align: right; }

#modal-tutorial .content-wrapper {
  width: 475px; }
  #modal-tutorial .content-wrapper .tutorial-wrapper .buttons-wrapper {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 1em;
    margin-top: 1em;
    border-top: 1px solid #B0C4DE;
    color: #B8860B; }
    #modal-tutorial .content-wrapper .tutorial-wrapper .buttons-wrapper .btn-left, #modal-tutorial .content-wrapper .tutorial-wrapper .buttons-wrapper .btn-right {
      cursor: pointer; }
  #modal-tutorial .content-wrapper .tutorial-wrapper .screens {
    text-align: center; }
    #modal-tutorial .content-wrapper .tutorial-wrapper .screens .screen.hidden {
      display: none; }
    #modal-tutorial .content-wrapper .tutorial-wrapper .screens .screen .heading {
      font-size: 2em;
      font-weight: 700;
      line-height: 1em; }
    #modal-tutorial .content-wrapper .tutorial-wrapper .screens .screen .text-wrapper {
      margin-top: 1em; }
      #modal-tutorial .content-wrapper .tutorial-wrapper .screens .screen .text-wrapper img {
        height: 1.2em;
        width: auto;
        vertical-align: middle;
        margin: 0.2em; }

#modal-change-password .buttons-wrapper {
  padding-top: 1em;
  text-align: right; }

#modal-contact-content .text p a {
  color: crimson;
  text-decoration: underline; }

.modal-part-share .paragraph {
  padding-bottom: 2em;
  text-align: center;
  margin-top: -1em; }
.modal-part-share .share-buttons {
  text-align: center; }
  .modal-part-share .share-buttons .button {
    margin: 0.5em; }
.modal-part-share .buttons-wrapper {
  text-align: center;
  margin-top: 2em; }

#view-featured {
  background-image: url(../img/featured-memories-bg.jpg);
  background-position: center;
  background-size: cover;
  height: calc(100% - 60px); }
  #view-featured .section {
    width: 100%;
    height: 100%; }
  #view-featured .memories-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#view-user {
  height: calc(100% - 60px);
  overflow: auto;
  background-image: url(../img/profile-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #view-user .profile-wrapper {
    margin: auto;
    max-width: 900px;
    padding: 2em;
    display: flex;
    align-items: center; }
    #view-user .profile-wrapper .image-wrapper {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 12em; }
      #view-user .profile-wrapper .image-wrapper .image {
        height: 12em;
        width: 12em;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #653C26; }
    #view-user .profile-wrapper .info-wrapper {
      padding-left: 2em;
      color: #653C26; }
      #view-user .profile-wrapper .info-wrapper .name {
        font-size: 3em;
        font-weight: 700; }
        #view-user .profile-wrapper .info-wrapper .name .delete-icon {
          display: inline-block;
          height: 1em;
          width: 1em;
          cursor: pointer;
          background-image: url(/img/edit-icon-dark-golden-rod.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          margin-left: 0.3em; }
  #view-user .memories-wrapper {
    padding-top: 0; }
    #view-user .memories-wrapper .empty-message {
      padding: 2em;
      font-size: 1.5em;
      font-weight: 700;
      opacity: 0.25;
      color: black; }

#view-about {
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 60px);
  background-image: url(../img/modal_texture.jpg);
  background-position: center bottom;
  background-size: 100% auto;
  background-repeat: no-repeat; }
  #view-about .caligraphy-header {
    background-image: url(../img/about-header-bg.jpg); }
    #view-about .caligraphy-header .caligraphy {
      background-image: url(../img/about-header.png); }
  #view-about .center-wrapper {
    max-width: 800px; }
    #view-about .center-wrapper .sidebar {
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 20em; }
      #view-about .center-wrapper .sidebar.left {
        background-position: center right;
        background-image: url(../img/about-bg-left.png); }
      #view-about .center-wrapper .sidebar.right {
        background-position: center left;
        background-image: url(../img/about-bg-right.png); }
      #view-about .center-wrapper .sidebar.left {
        left: -20em; }
      #view-about .center-wrapper .sidebar.right {
        right: -20em; }
      @media screen and (min-width: 1400px) {
        #view-about .center-wrapper .sidebar {
          width: 30em; }
          #view-about .center-wrapper .sidebar.left {
            left: -30em; }
          #view-about .center-wrapper .sidebar.right {
            right: -30em; } }
    #view-about .center-wrapper .bold {
      font-family: "Catamaran", sans-serif;
      text-transform: uppercase;
      color: #B8860B;
      letter-spacing: 0.2em;
      font-weight: 700;
      padding: 1.5em;
      text-align: center; }
    #view-about .center-wrapper .paragraph {
      line-height: 1.5em; }
      #view-about .center-wrapper .paragraph .logo {
        height: 2em;
        top: 0.3em; }
    #view-about .center-wrapper .copy {
      padding-top: 4em;
      padding-bottom: 2em;
      font-size: 0.85em;
      text-align: center; }

#view-about-faq {
  background-color: white;
  overflow: auto;
  height: calc(100% - 60px);
  background-image: url(../img/modal_texture.jpg);
  background-position: center bottom;
  background-size: 100% auto;
  background-repeat: no-repeat; }
  #view-about-faq .caligraphy-header {
    background-image: url(../img/faq-header-bg.jpg); }
    #view-about-faq .caligraphy-header .caligraphy {
      background-image: url(../img/faq-header.png); }
  #view-about-faq .section .center-wrapper .category-header {
    text-align: center;
    padding: 1em;
    text-transform: uppercase;
    color: #B8860B;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 0.2em;
    margin-top: 2em; }
  #view-about-faq .section .center-wrapper #faq-categories-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em; }
    #view-about-faq .section .center-wrapper #faq-categories-wrapper .category {
      width: 33.333333%;
      flex-basis: 33.333333%;
      color: #B8860B;
      cursor: pointer; }
      #view-about-faq .section .center-wrapper #faq-categories-wrapper .category .icon {
        width: 100%;
        padding-bottom: 70%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
      #view-about-faq .section .center-wrapper #faq-categories-wrapper .category .title {
        text-align: center;
        letter-spacing: 0.2em;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.9em; }
      #view-about-faq .section .center-wrapper #faq-categories-wrapper .category.selected {
        color: crimson; }
      #view-about-faq .section .center-wrapper #faq-categories-wrapper .category#faq-category-0 .icon {
        background-image: url(../img/account-settings-icon-dark-golden-rod.png); }
      #view-about-faq .section .center-wrapper #faq-categories-wrapper .category#faq-category-0.selected .icon {
        background-image: url(../img/account-settings-icon-hover-red.png); }
      #view-about-faq .section .center-wrapper #faq-categories-wrapper .category#faq-category-1 .icon {
        background-image: url(../img/about-filipino-tcks-icon-dark-golden-rod.png); }
      #view-about-faq .section .center-wrapper #faq-categories-wrapper .category#faq-category-1.selected .icon {
        background-image: url(../img/about-filipino-tcks-icon-hover-red.png); }
      #view-about-faq .section .center-wrapper #faq-categories-wrapper .category#faq-category-2 .icon {
        background-image: url(../img/how-can-i-help-icon-dark-golden-rod.png); }
      #view-about-faq .section .center-wrapper #faq-categories-wrapper .category#faq-category-2.selected .icon {
        background-image: url(../img/how-can-i-help-icon-hover-red.png); }
  #view-about-faq .section .center-wrapper #category-pages-wrapper .page {
    clear: both;
    margin-bottom: 5em;
    display: none; }
    #view-about-faq .section .center-wrapper #category-pages-wrapper .page.visible {
      display: flex; }
    #view-about-faq .section .center-wrapper #category-pages-wrapper .page .column {
      width: 50%;
      flex-basis: 50%; }
      #view-about-faq .section .center-wrapper #category-pages-wrapper .page .column .faq {
        width: 100%;
        margin-bottom: 2em;
        padding: 1em;
        font-size: 1.3em; }
        #view-about-faq .section .center-wrapper #category-pages-wrapper .page .column .faq .question {
          color: crimson;
          font-weight: 700;
          letter-spacing: 0.05em; }
        #view-about-faq .section .center-wrapper #category-pages-wrapper .page .column .faq .answer {
          margin-top: 0.3em;
          line-height: 1.3em; }
          #view-about-faq .section .center-wrapper #category-pages-wrapper .page .column .faq .answer a {
            color: #B8860B;
            text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
