.caligraphy-header
  .caligraphy
.section
  .center-wrapper
    .sidebar.left
    .sidebar.right
      
    .bold The Project
    .paragraph The #[img.logo(src="img/logo-gold.png")] project is dedicated to raising awareness on the experiences of Filipino Third Culture Kids (TCKs) from the Middle East. “Tahanan”, a Filipino word meaning “home”, is the core of this project. This website, under the Tahanan project, aims to foster an online community where Filipinos can share their memories of Bahrain and interact with each other as well, in light of the difficulties brought about by distance away from home. 

    .bold The Design Solution
    .paragraph This website was also created in fulfillment of the information design senior’s project or individual thesis for A.Y. 2017-2018 at the Ateneo de Manila University. This website aims to address the absence of existing reintegration programs or avenues for Filipino TCKs to share their issues on belonging and identity through a design solution.

    .bold The Art Installation
    .paragraph This project stems from the founder’s art installation, also entitled “Tahanan”, back in 2016. It was the founder’s first attempt at grasping the experience of being a TCK from Bahrain. The original art installation documentation can still be viewed online: #[a(href="www.tinyurl.com/TahananBTS") www.tinyurl.com/TahananBTS].

    .copy Copyright &copy; 2018 Joan Lao, Mike del Castillo, &amp; Mark Perea. All rights reserved.

    
