-
  let cat1 = [];
  let cat2 = [];
  let cat3 = [];
  
  // CATEGORY ONE
  
  cat1.push([
    `How do I change my password?`,
    `<Mike, edit this text later because I’m not sure how this feature will be implemented yet on the website>`
  ]);
  
  cat1.push([
    `Can I delete a memory?`,
    `Yes you may. Click your memory to view it and then click the “Delete memory” button on the bottom right of the memory.`
  ]);
  
  cat1.push([
    `How can I receive notifications?`,
    `Unfortunately, due to the constraints of the production of this website, Tahanan does not have a notification system. You may instead sort the memories on the “Featured” page by date in order to easily sift through the memories in chronological order. You may also revisit the memories you’ve posted by clicking the “My Profile” button on the top of the website.`
  ]);
  
  cat1.push([
    `Can I delete my account?`,
    `You may forward a request for the deletion of your account to <a href="mailto:noreply.tahanan@gmail.com">noreply.tahanan@gmail.com</a>.`
  ]);
  
  cat1.push([
    `Can I change my profile picture?`,
    `Yes, you can. Click the “Edit Profile” button under the “My Profile” button on the top of the website. In the window that appears, click the circle next to your user name. Then, select a picture from your device to upload as your profile picture. Lastly, wait for a few minutes until the picture you’ve uploaded appears on the website.`
  ]);
  
  cat1.push([
    `Can I edit my memories?`,
    `<Mike, edit this text later because I’m not sure how this feature will be implemented yet on the website>`
  ]);
  
  cat1.push([
    `How do I give suggestions for the website?`,
    `Your feedback is very important to us. You may forward your suggestions  to <a href="mailto:noreply.tahanan@gmail.com">noreply.tahanan@gmail.com</a> or contact the founder of the Tahanan project (contact details in the contact page of the website).`
  ]);
  
  // CATEGORY TWO
  
  cat2.push([
    `What does “TCK” stand for?`,
    `“TCK” stands for “Third Culture Kid.”`
  ]);
  
  cat2.push([
    `What is a “third culture kid”?`,
    `A third culture kid is a person  who has spent part of their formative years in countries and cultures other than their own. (Pollock & Van Reken, 2001, p.3 ) An example of this is a Filipino who spent most of their childhood in Bahrain, a country that is not their homeland: the Philippines.`
  ]);
  
  cat2.push([
    `Am I a TCK? `,
    `If you have spent a significant number of years in a country apart from your own homeland (or your parents’) in your younger years, then yes, you are a TCK.`
  ]);
  
  cat2.push([
    `What does it mean to be a Filipino TCK?`,
    `Filipino TCKs are third culture kids of Filipino descent and are usually the children of OFW parents. Filipino TCKs, especially in the Middle East, grow up away from their Filipino heritage and culture, making them more prone to identity crisis.`
  ]);
  
  cat2.push([
    `What are the problems encountered by TCKs?`,
    `Some problems encountered by Filipino TCKs are the inability to relate with peers in the Philippines and homesickness. They are also affected by the migration decisions made by their OFW parents. The authors of TCK Among Worlds note that depression and anger may be coping mechanisms for TCKs that can actually last for long periods of time. `
  ]);
  
  cat2.push([
    `What is unique about TCKs?`,
    `The TCK experience is a combination of two cultures: thus the term “third culture”. They take from their parents’ home culture and from the culture of where they grew up in. Together, they make up a unique experience known only by them.`
  ]);
  
  cat2.push([
    `Are there many others like me (a TCK)?`,
    `Looking at the Middle East alone, yes. There is a significant amount of Filipino TCKs is the establishment of Philippine Schools Overseas (PSOs) in 1995 (About Us, n.d.). According to the PSOs website, as of May 2011 there are 41 schools dedicated to operating and implementing the basic education curriculum of the Department of Education (DepEd) outside of the Philippines. This does not even count the TCKs of OFWs who enrolled in international schools instead.`
  ]);
  
  cat2.push([
    `Why are there Filipino TCKs in the first place?`,
    `According to the Filipino Youth and the Employment-Migration Nexus, OFWs who are citizens or residents abroad can petition for their immediate family members (unmarried children below 18 years old, spouses, and parents) to join them. Most of these registered emigrants are in the ages of 15-24 and are likely to be part of family migration (Asis & Battistella, 2013, p. 57).`
  ]);
  
  cat2.push([
    `Where can I find the sources cited in the FAQ?`,
    `Here they are: 
    <ol>
      <li>About Us. (n.d.). Retrieved September 11, 2017, from <a href="http://www.cfo-pso.org.ph/aboutus.html">http://www.cfo-pso.org.ph/aboutus.html</a></li>
      <li>Asis, M. M., & Battistella, G. (2013).  The Filipino Youth and the Employment-Migration Nexus . Makati City, Philippines: UNICEF Philippines.</li>
      <li>Pollock, D. C., & Van Reken, R. E. (2001).  Third Culture Kids: Growing Up Among Worlds . London: Nicolas Brealey Pub.</li>
    </ol>`
  ]);
  
  // CATEGORY THREE
  
  cat3.push([
    `My child or friend is a TCK, how can I help?`,
    `The first step is to understand the TCK experience. Some pressing problems among returning TCKs are: the feeling of isolation from peers, discouragement from embracing Philippine culture, and an identity crises at a young age. Helping them address and overcome these issues is the next step.`
  ]);
  
  cat3.push([
    `How do I know if my child or friend is a TCK? or How do I know if I am a TCK?`,
    `See answer to “Am I a TCK?” in the Filipino TCKs section.`
  ]);
  
  cat3.push([
    `Is my child or friend vulnerable to the problems of being a TCK? (e.g. isolation from peers, culture shock)`,
    `It is possible, but there are some who may have successfully reintegrated back into the Philippines.`
  ]);
  
  cat3.push([
    `How can I cope as a TCK?`,
    `One possible way is to first, identify the issues that TCKs face. After which, one should either seek support from their peers or read up on similar experiences from other TCKs .`
  ]);
  
  cat3.push([
    `How can I contribute to the lack of TCK literature?`,
    `Likewise with the Tahanan project, which is founded by a Filipino TCK, one can always start a project on their own to contribute to the representation of TCKs in media. Another possibility is to help educate more people about the TCK experience.`
  ]);
  
  cat3.push([
    `Where can I find more information about TCKs?`,
    `See answers to “Where can I find the sources  cited in the FAQ?” in the Filipino TCKs section. `
  ]);
  
  let cats = [cat1, cat2, cat3];

.caligraphy-header
  .caligraphy
.section
  .center-wrapper
    .category-header Select any of our FAQ categories:
    #faq-categories-wrapper
      .category#faq-category-0
        .icon
        .title ACCOUNT SETTINGS
      .category#faq-category-1
        .icon
        .title ABOUT FILIPINO TCKs
      .category#faq-category-2
        .icon
        .title HOW CAN I HELP?
    #category-pages-wrapper
      each cat, i in cats
        .page(id="faq-page-" + i)
          mixin faq(item)
            .faq
              .question!= "Q: " + item[0]
              .answer!= "A: " + item[1]
          .column.column-1
            - for(let i = 0; i < Math.ceil(cat.length/2); i++)
              - let item = cat[i];
                +faq(item)
          .column.column-2
            - for(let i = Math.ceil(cat.length/2); i < cat.length; i++)
              - let item = cat[i];
                +faq(item)
