.backdrop-wrapper
  .loading-wrapper
    +spinner
  video#video-backdrop(autoplay loop muted preload="auto")
  a.btn-back(href="#/map") Back
  img#img-caligraphy()
#btn-memories Memories
.memories-wrapper#landmark-memories
