.video-backdrop
  video(autoplay loop muted preload="auto")
    source(src="videos/landing.mp4" type="video/mp4")
.text-overlay-wrapper
  .text-wrapper
    .logo-wrapper
      img(src="img/logo-gold.png")
    .subtitle Your memories of home.
    a.button.outline.btn-sign-up Sign up
    .sign-in-wrapper
      .line Already have an account?
      .line Sign in #[a.btn-sign-in here].
