.sidebar-wrapper
  #sidebar-btn
  #memory-form
    textarea#text-area
    .buttons-wrapper
      .left
        #btn-img
      .right
        button#btn-submit Submit
  #memroies-wrapper
  #btn-load
.backdrop-wrapper
  video#video-backdrop(loop muted autoplay)
