.text-overlay-wrapper
  .text-wrapper
    .logo-wrapper
      img(src="img/logo-gold.png")
    .subtitle Your memories of home.
    a.button(href="#/sign-up") Sign up
    .sign-in-wrapper
      .line Already have an account?
      .line Sign in #[a(href="#/sign-in") here].
