$magic-percent: 5%
$header-height: 70px
$content-height: calc(100% - #{$header-height})
$font-size: 16px
$font-1: 'Catamaran', 'Lato', 'Roboto', sans-serif

$color-black: #000000
$color-gold: #FFD700
$color-dark-golden-rod: #B8860B
$color-golden-rod: #DAA520
$color-pale-golden-rod: #EEE8AA
$color-light-steel-blue: #B0C4DE

$sidebar-width: 300px
