$magic-percent: 5%
$header-height: 70px
$content-height: calc(100% - #{$header-height})
$font-size: 16px
$font-1: 'Catamaran', sans-serif

$color-black: #000000
$color-crimson: crimson
$color-gold: #FFD700
$color-dark-golden-rod: #B8860B
$color-golden-rod: #DAA520
$color-pale-golden-rod: #EEE8AA
$color-light-steel-blue: #B0C4DE
$color-light-steel-blue-trans: rgba(176, 196, 222, 0.8)
$color-brown: #653C26

$sidebar-width: 300px

$shadow: 0 2px 10px rgba(0, 0, 0, 0.15)
