@import url('https://fonts.googleapis.com/css?family=Catamaran:100,400,700')

@import defaults
@import mixins

body, html
  width: 100%
  height: 100%
  padding: 0
  margin: 0
  top: 0
  left: 0
  font-size: $font-size
  font-family: $font-1
  background-color: $color-light-steel-blue
  overflow: hidden

.view-placeholder
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  .text
    margin: 5em
    opacity: 0.5
    font-weight: 700
    width: 20em
    text-align: center

.button
  text-transform: uppercase
  border: 2px solid white
  color: white
  background-color: $color-dark-golden-rod
  $side: 1em
  $line: 0.3em
  padding: 0em $side
  padding-left: $side + $line
  padding-top: 0.2em
  letter-spacing: $line
  cursor: pointer
  &.outline
    background-color: transparent
    margin-top: 0.5em
    margin-bottom: 0.4em
    color: black
    border-color: black

*
  position: relative
  box-sizing: border-box
  color: inherit
  text-decoration: none
  font-family: inherit
  font-size: inherit
  border: 0
  outline: 0

.view-wrapper
  min-height: $content-height
  width: 100%
  background-color: $color-light-steel-blue
  transition: all 0.5s
  position: absolute
  top: $header-height
  &.visible
    z-index: 100
    transform: none
    opacity: 1
  &.hidden
    z-index: 0
    transform: scale(1.1)
    opacity: 0

.center-wrapper
  width: 100% - $magic-percent * 2
  margin: auto

@import header
@import map
@import landmark
@import landing
@import modal
