@import url('https://fonts.googleapis.com/css?family=Catamaran:100,400,700')

@import defaults
@import mixins

body, html
  width: 100%
  height: 100%
  padding: 0
  margin: 0
  top: 0
  left: 0
  font-size: $font-size
  font-family: $font-1
  overflow: hidden

.view-placeholder
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  .text
    margin: 5em
    opacity: 0.5
    font-weight: 700
    width: 20em
    text-align: center

.loading-wrapper
  position: absolute
  top: $header-height
  height: $content-height
  width: 100%
  left: 0
  display: flex
  justify-content: center
  align-items: center

.spinner
  $size: 80px
  width: $size
  height: $size
  .spin
    width: $size
    height: $size
    transform-origin: center
    animation: 1s spin infinite linear
    @keyframes spin
      from
        transform: rotate(0deg)
      to
        transform: rotate(360deg)
    .mask
      width: $size/2
      height: $size/2
      overflow: hidden
      .circle
        width: $size
        height: $size
        border-radius: 50%
        box-sizing: border-box
        border: 5px solid $color-light-steel-blue


body
  &.logged-in
    .non-auth-content
      display: none !important
  &.logged-out
    .auth-content
      display: none !important

*
  position: relative
  box-sizing: border-box
  color: inherit
  text-decoration: none
  font-family: inherit
  font-size: inherit
  border: 0
  outline: 0

.view-wrapper
  min-height: $content-height
  width: 100%
  background-color: $color-light-steel-blue
  transition: all 0.5s
  position: absolute
  top: $header-height
  overflow: hidden
  &.visible
    z-index: 100
    transform: none
    opacity: 1
  &.hidden
    z-index: 0
    transform: scale(1.1)
    opacity: 0

.center-wrapper
  width: 100% - $magic-percent * 2
  margin: auto

#view-featured, #view-me-memories
  height: $content-height
  .memories-wrapper
    height: 100%
    overflow: auto

.btn-help
  $size: 3em
  width: $size
  height: $size
  border: 4px solid $color-dark-golden-rod
  color: $color-dark-golden-rod
  border-radius: 50%
  position: fixed
  left: 1.5em
  bottom: 1.5em
  z-index: 200
  display: flex
  justify-content: center
  align-items: center
  &, & *
    cursor: pointer
  &::before
    content: '?'
    font-size: 1.5em
    font-weight: 700
    line-height: 1em
    letter-spacing: -0.05em
  &:hover
    border-color: $color-dark-golden-rod
    background-color: $color-dark-golden-rod
    color: white

@import inputs
@import header
@import map
@import landmark
@import landing
@import modal
@import featured
@import user
